# General caches and temporary files
**/*cache*
**/*Cache*
**/cache/
**/Cache/
**/*log*
**/*Log*
**/logs/
**/Logs/
**/tmp/
**/temp/

# KDE Specific files that are often generated or contain stats
.config/baloofileinformationrc
.config/baloofilerc
.config/kactivitymanagerdrc
.config/kactivitymanagerdr-statsrc

# Application specific
.config/Code/
.config/discord/
.config/Electron/
.config/Mozilla/
.config/session/
.config/godot/
.config/dconf/
.config/gh/
.config/go/telemetry/local/
.config/gtk-3.0/
.config/gtk-4.0/
.config/kate/externaltools
.config/kdedefaults/
.config/kitty
.config/libaccounts-glib
.config/pulse
.config/systemd/user
.config/xsettingsd