# Ignore everyything inside .config by default 
.config/*

# whitelist specific directories
!/.config/hypr/
!/.config/kitty/
!/.config/fastfetch/
!/.config/waybar/
!/.config/wofi/
!/.config/dunst/

# Whitelist specific files
!/.config/starship.toml
