window#waybar {
  background-color: #1E1E2E;
  border: 1px solid #45475A;
  border-radius: 10px;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
}

#custom-lock,
#custom-restart,
#custom-shutdown {
  padding: 10px;
}

#custom-lock:hover,
#custom-restart:hover,
#custom-shutdown:hover {
  background-color: #45475A;
  /* Removed border and border-radius from hover state */
}

#custom-restart {
  color: #F9E2AF;
}

#custom-shutdown {
  color: #F38BA6
}
