@import "css/theme.css";

/* GLOBAL STYLES */
* {
  border: none;
  font-family: "CaskaydiaCove Nerd Font";
  /*font-size: 13px;*/
  font-weight: bold;
}

window#waybar {
 background-color: transparent;
 /*color: @foreground;*/
}




/* On Hover */
#pulseaudio:hover{
  color: @secondary;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#custom-tray:hover {
  color: @secondary;
}

#mrpis:hover {
  color: @secondary;
}



/* Custom Modules */
#custom-tray {
  margin-right: 3px;
  color: @foreground;
}

#custom-power {
  color: @primary;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 17px
}

#custom-dunst {
  background-color: #81A1C1;
  color: #2E3440;
  padding: 0 10px;
}

#custom-seperator {
  color: @primary;
}

#custom-seperator2 {
  color: @primary;
}




/* Worksapces */
#workspaces {
  border-radius: 10px;
  border: 1px solid @secondary;
}

#workspaces button {
  background: transparent;
  color: @foreground;
  font-size: 10px;
  opacity: 0.5;
  margin-right: 8px;
  padding: 2px 2px 2px 2px;
  margin-left: 4px;
}

#workspaces button.active {
  opacity: 1.0;
  color: @primary;
}

#workspaces button.focused {
  opacity: 1.0;
}




/* System Modules */
#clock, #cpu, #memory, #pulseaudio, #network, #custom-tray {
  padding: 0 7px;
  color: @background;
  font-size: 15px;
}

#mode {
  background: @accent;
  color: @background;
  padding: 0 5px;
}

#clock { 
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid @secondary;
  padding: 0 3px;
  margin: 0 5px;
  color: @primary;
}

#cpu {
  background-color: @secondary;
}

#memory {
  background-color: @success;
}

#pulseaudio {
  background-color: transparent;
  color: @foreground;
}

#network {
  background-color: @primary;
}

#mpris {
  color: @foreground;
  padding: 0 7px;
}

#modules-right {
  padding-left: 25px;
}
