@import "css/theme.css";


* {                                                                                                             
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font";                                                                     
  /*font-size: 13px;*/                                                                                              
}       
window#waybar {
 background: transparent;
 /*color: @foreground;*/
}

#workspaces button {
  padding: 0 0px;
  background: transparent;
  color: @foreground;
  font-size: 10px;
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1.0;
  font-size: 15px;
  color: @primary;
}

#workspaces button.focused {
  opacity: 1.0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#mode {
  background: @accent;
  color: @background;
  padding: 0 5px;
}

#clock, #cpu, #memory, #pulseaudio, #network, #custom-tray {
  padding: 0 7px;
  color: @background;
  font-size: 15px;
}

#custom-tray {
  margin-right: 5px;
  color: @foreground;
}

#custom-tray:hover {
  color: @secondary;
}

#clock { 
  background-color: @background;
  border-radius: 5px;
  border: 1px solid @secondary;
  padding: 0 3px;
  margin: 0 5;
  color: @primary;
  font-size: 11px;
}

#cpu {
  background-color: @secondary;
}

#memory {
  background-color: @success;
}

#pulseaudio {
  background-color: transparent;
  color: @foreground;
}

#pulseaudio:hover{
  color: @secondary;
}

#network {
  background-color: @primary;
}

#custom-power {
  color: @primary;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 15px
}

#mpris {
  color: @foreground;
  padding: 0 7px;
}

#mrpis:hover {
  color: @secondary;
}

#custom-dunst {
  background-color: #81A1C1;
  color: #2E3440;
  padding: 0 10px;
}
