@import "theme.css";

* {                                                                                                             
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font";                                                                     
  /*font-size: 13px;*/                                                                                              
}       
window#waybar {
 background: transparent;
 /*color: @foreground;*/
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @foreground;
  font-size: 10px;
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1.0;
  font-size: 15px;
  color: @primary;
}

#workspaces button.focused {
  opacity: 1.0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#mode {
  background: @accent;
  color: @background;
  padding: 0 5px;
}

#clock, #cpu, #memory, #pulseaudio, #network, #custom-tray {
  padding: 0 7px;
  color: @background;
}

#custom-tray {
  margin-right: 5px;
  color: @foreground;
}

#clock {
  background-color: transparent;
  color: @foreground;
}

#cpu {
  background-color: @secondary;
}

#memory {
  background-color: @success;
}

#pulseaudio {
  background-color: transparent;
  color: @foreground
}

#network {
  background-color: @primary;
}

#custom-power {
  color: @primary;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 15px
}
