* {                                                                                                             
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font";                                                                     
  /*font-size: 13px;*/                                                                                          
  min-height: 0;                                                                                              
}       
window#waybar {
 background: transparent;
 /*color: #CDD6F4;*/
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #CDD6F4;
  font-size: 10px;
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1.0;
  font-size: 15px;
}

#workspaces button.focused {
  opacity: 1.0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#custom-tray_button {
  padding: 0 8px;
  color: #FFF;
  background-color: transparent;
  border-radius: 5px;
  margin: 0;
}

#mode {
  background: #F38BA8;
  color: #1E1E2E;
  padding: 0 5px;
}

#clock, #cpu, #memory, #pulseaudio, #network, #tray {
  padding: 0 7px;
  color: #1E1E2E;
}

#clock {
  background-color: transparent;
  color: #FFF;
}

#cpu {
  background-color: #94E2D5;
}

#memory {
  background-color: #A6E3A1;
}

#pulseaudio {
  background-color: transparent;
  color: #FFF
}

#network {
  background-color: #FAB387;
}

#group-sysTray{
  margin-top: 4px;
  margin-bottom: 4px;
}

#tray {
  background-color: #1E1E2E;
  padding: 0 5px;
  border-radius: 8px;
}
