@import "css/theme.css";

/* ||=============|| 
   ||Global styles||
   ||=============|| */
*{
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font";
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
}

.modules-left, 
.modules-right {
  background-color: @nord1;
  border: 1px solid @nord3;
  border-radius: 10px;
  padding: 2px 0px 2px 0px;
  margin: 0 4px;
}

.modules-center {
  background-color: @nord1;
  border: 1px solid @nord3;
  border-radius: 10px;
  padding: 2px 4px 2px 4px;
  margin: 0 5px;
}


/* ||============|| 
   ||Modules-Left||
   ||============|| */
#custom-power {
  color: @primary;
  background-color: transparent;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 8px;
}

#workspaces {
  padding: 0;
  margin-left: 2px;
}

#workspaces button {
  background: transparent;
  color: @foreground;
  font-size: 10px;
  opacity: 0.5;
  padding: 2px 4px;
  margin: 0 4px;
  min-width: 22px;
  border-radius: 6px;
  border: 1px solid @primary;
}

#workspaces button.active {
  background-color: @primary;
  color: @background;
  opacity: 1.0;
  padding: 2px 6px;
  border: 1px solid @primary;
}

#workspaces button.focused {
  opacity: 1.0;
}

#workspaces button:hover {
  opacity: 0.8;
  background-color: @nord3;
}

#workspaces button.visible {
  opacity: 0.8;
  padding: 2px 3px;
}

#custom-headset {
  font-size: 15px;
  padding: 0 5px;
  color: @foreground;
}

/* ||==============|| 
   ||Modules-Center||
   ||==============|| */
#custom-seperator,
#custom-seperator2 {
  color: @primary;
}

/* ||=============|| 
   ||Modules-Right||
   ||=============|| */
#custom-seperator-right {
  color: @nord3;
  font-size: 16px;
  padding: 0 5px;
}
#pulseaudio {
  background-color: transparent;
  color: @foreground;
  font-size: 15px;
  padding: 2px;
  margin: 0 2px;
}

#pulseaudio:hover {
  color: @secondary
}

#clock {
  background-color: transparent;
  color: @primary;
  font-size: 15px;
  padding: 0 2px;
  margin-right: 4px;
}

#tray {
  margin-left: 2px;
}

#custom-tray-toggle {
  color: @foreground;
  font-weight: bold;
  padding: 0 8px;
}

