* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: "CaskaydiaCove Nerd Font"
}

window#waybar {
  background-color: transparent;
}

#tray {
  color: #CDD6F4;
  background-color: #1E1E2E;
  border: 1px solid #494D64;
  border-radius: 10px;
  padding: 5px 10px;

  margin-top: 0;
  margin-right: 60px;
}
