@import "theme.css";

window#waybar {
  background-color: @background;
  border: 1px solid @osmium3;
  border-radius: 10px;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
}

#custom-lock,
#custom-restart,
#custom-shutdown {
  padding: 10px;
}

#custom-lock:hover,
#custom-restart:hover,
#custom-shutdown:hover {
  background-color: @osmium2;
  border: 1px solid @osmium3;
  border-radius: 10px;
}

#custom-restart {
  color: @warning;
}

#custom-shutdown {
  color: @error;
}
