@import "theme.css";

* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: "CaskaydiaCove Nerd Font"
}

window#waybar {
  background-color: transparent;
}

#tray {
  color: @foreground;
  background-color: @background;
  border: 1px solid @nord3;
  border-radius: 10px;
  padding: 5px 15px;

  margin-top: 0;
  margin-right: 76px;
}
